/* Register.css */
.ion-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #5c5252; /* Light grey background color */
  }
  
  .icard {
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  /* Register.css */
.ion-toolbar {
    --text-align: center;
  }
  
  .ion-toolbar .title {
    --margin: 0 auto; /* Centers the title within the toolbar */
  }
  